.Sender{
  position: relative;
  max-width: 70%;
  min-width: 70px; 
  border-radius: 3px;
  box-shadow:  5px 5px 20px 3px #ddd;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
  color: white;
  line-height: 150%;
  word-spacing: 1.2px;
  font-size: 0.9em;
  word-wrap: break-word;
  float: right;
  clear: both;
}

.ArrowDown{
  position: absolute;
  bottom: -5px;
  right: 0;
	width: 0;
	height: 0;
	border-top: 9px solid #764ba2;
	border-left: 9px solid transparent;
}